In [1]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
import pandas as pd
import numpy as np
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import geopandas as gpd
import time
import requests

In [2]:
db = client.get_database('Ironhack')
cp = db.get_collection('company_preferences')
cp

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'company_preferences')

In [4]:
df = pd.read_csv("data/top_cities.csv")
df.sample()

    company city   latitude  longitude
571  Delphi  NaN  42.603532  -83.16134

In [ ]:
def column_point(df):
    """
    Creates a new column to add to the dataframe with the coordinates as a point
    Args:
        df (df): the dataframe where the new column will be created 
    Returns:
        The new column
    """
    lat = list(df.latitude)
    long = list(df.longitude)
    coordinates = []
    for lt,lg in zip(lat,long):
        coord = [lg,lt]
        coordinates.append({"type": "Point",  "coordinates": coord})
    return coordinates